<!doctype html>
<html ng-app="Eggly">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Eggly</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/eggly.css">
        <link rel="stylesheet" href="assets/css/animations.css">
    </head>
    <body ng-controller="ApplicationController">

        <!--Caved in to use #scope.isUserSignedIn.
        TODO: Figure out if it's possible to nest cascaded views within view templates (like for view-name@).
        This way you would separate the main success sign in view from the sign in view.  -->
        <div class="container-fluid">
            <div class="row">

                    <div ui-view="signin">

                    </div>

                    <div ng-if="currentUser">

                        <div class="col-sm-offset-3 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div class="nav navbar-nav">
                                <h2>
                                    <strong>Welcome, {{currentUser.username}}</strong>
                                </h2>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li type="button" ng-click="logout()">
                                    <a>Log Out</a>
                            </ul>
                        </div>

                        <div ui-view="categories">

                        </div>

                        <div ui-view="bookmarks">

                        </div>

                    </div>
            </div>
        </div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="vendor/angular-ui-router.min.js"></script>

        <script src="app/eggly-app.start.js"></script>
        <script src="app/signin/signin.js"></script>
        <script src="app/categories/categories.js"></script>
        <script src="app/categories/bookmarks/bookmarks.js"></script>
        <script src="app/categories/bookmarks/create/bookmark-create.js"></script>
        <script src="app/categories/bookmarks/edit/bookmark-edit.js"></script>
        <script src="app/common/models/bookmarks-model.js"></script>
        <script src="app/common/models/categories-model.js"></script>
        <script src="app/common/session/session.js"></script>
    </body>
</html>